.default-button {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    border: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
    align-items: center;
}

.ddefault-button:hover {
    background-color: rgb(211, 211, 211);
    transition: all 0.3s;
    cursor: pointer;
}

.button-aqua {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
    border: none;
    color: rgb(28, 122, 122);
    font-weight: 600;
    transition: all 0.3s;
    align-items: center;
}

.button-aqua:hover {
    background-color: rgb(13, 218, 218);
    transition: all 0.3s;
    cursor: pointer;
}

.button-orange {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    border: none;
    color: rgb(146, 106, 33);
    font-weight: 600;
    transition: all 0.3s;
    align-items: center;
}

.button-orange:hover {
    background-color: rgb(201, 139, 25);
    transition: all 0.3s;
    cursor: pointer;
}

.button-red {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(187, 42, 42);
    border: none;
    color: rgb(139, 12, 12);
    font-weight: 600;
    transition: all 0.3s;
    align-items: center;
}

.button-red:hover {
    background-color: rgb(173, 5, 5);
    transition: all 0.3s;
    cursor: pointer;
}

.m-right-2 {
    margin-right: 2px;
}

.m-right-3 {
    margin-right: 3px;
}

.m-right-4 {
    margin-right: 4px;
}

.m-right-5 {
    margin-right: 1.25rem;
}

.m-right-6 {
    margin-right: 6px;
}

.m-right-7 {
    margin-right: 7px;
}

.m-right-8 {
    margin-right: 8px;
}

.m-right-9 {
    margin-right: 9px;
}

.m-right-10 {
    margin-right: 10px;
}

.m-left-2 {
    margin-left: 2px;
}

.m-left-3 {
    margin-left: 3px;
}

.m-left-4 {
    margin-left: 4px;
}

.m-left-5 {
    margin-left: 5px;
}

.m-left-6 {
    margin-left: 6px;
}

.m-left-7 {
    margin-left: 7px;
}

.m-left-8 {
    margin-left: 8px;
}

.m-left-9 {
    margin-left: 9px;
}

.m-left-10 {
    margin-left: 10px;
}

.m-left-11 {
    margin-left: 11px;
}

.m-left-12 {
    margin-left: 12px;
}

.m-left-13 {
    margin-left: 13px;
}

.m-left-14 {
    margin-left: 14px;
}

.m-left-15 {
    margin-left: 15px;
}

.m-left-16 {
    margin-left: 16px;
}

.radius-3 {
    border-radius: 3px;
}

.radius-4 {
    border-radius: 4px;
}

.radius-5 {
    border-radius: 5px;
}

.radius-6 {
    border-radius: 6px;
}

.radius-7 {
    border-radius: 7px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-9 {
    border-radius: 9px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-11 {
    border-radius: 11px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-13 {
    border-radius: 13px;
}


.radius-14 {
    border-radius: 14px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-16 {
    border-radius: 16px;
}

.radius-17 {
    border-radius: 17px;
}

.radius-18 {
    border-radius: 18px;
}

.radius-19 {
    border-radius: 19px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-21 {
    border-radius: 21px;
}

.radius-22 {
    border-radius: 22px;
}

.radius-23 {
    border-radius: 23px;
}

.radius-24 {
    border-radius: 24px;
}

.radius-25 {
    border-radius: 25px;
}

.radius-26 {
    border-radius: 26px;
}

.radius-27 {
    border-radius: 27px;
}

.radius-28 {
    border-radius: 28px;
}

.radius-29 {
    border-radius: 29px;
}

.radius-30 {
    border-radius: 30px;
}

.flex,
.d-flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.d-block {
    display: block;
}

.d-contents {
    display: contents;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-inline-flex {
    display: inline-flex;
}

.d-inline-table {
    display: inline-table;
}

.d-list-item {
    display: list-item;
}

.bgr-gray {
    background-color: rgb(101, 101, 109);
}

.bgr-dark {
    background-color: rgb(31, 33, 39);
}

.bgr-white {
    background-color: rgb(231, 231, 231);
}

.text-dark {
    color: rgb(41, 42, 44);
}

.text-white {
    color: rgb(224, 224, 224);
}

.text-gray {
    color: rgb(185, 185, 185);
}

.cp {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-no-decoration {
    text-decoration: none;
}

.list-no-decoration {
    list-style-type: none;
}

.item-center {
    align-items: center;
}

.hide-item {
    display: none;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.jcenter {
    display: flex;
    justify-content: center;
}

.jend {
    display: flex;
    justify-content: end;
}

.jright {
    display: flex;
    justify-content: right;
}

.jleft {
    display: flex;
    justify-content: left;
}

.jbetween {
    display: flex;
    justify-content: space-between;
}

.white-effect {
    transition: color 0.3s ease;
}

.white-effect:hover {
    color: white !important;
}

.red-effect {
    transition: color 0.3s ease;
}

.red-effect:hover {
    color: red !important;
}

.orange-effect {
    transition: color 0.3s ease;
}

.orange-effect:hover {
    color: orange !important;
}

.yellow-effect {
    transition: color 0.3s ease;
}

.yellow-effect:hover {
    color: yellow !important;
}

.container-1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
}

.container-1200 img {
    max-width: 20%;
}

/* 320px and below (Most old smartphones) */
@media only screen and (max-width: 320px) {
    .responsive-button {
        max-width: 100%;
        padding: 0.5rem;
    }

    .responsive-container {
        max-width: 80%;
    }

    .responsive-container img {
        max-width: 100%;
    }
}

/* 360px (Usually low resolution phones) */
@media only screen and (max-width: 360px) {
    .responsive-button {
        max-width: 100%;
        padding: 0.5rem;
    }

    .responsive-container {
        max-width: 80%;
    }

    .responsive-container img {
        max-width: 100%;
    }
}

/* 375px (like iPhone 6/7/8) */
@media only screen and (max-width: 375px) {
    .responsive-button {
        max-width: 100%;
        padding: 0.5rem;
    }

    .responsive-container {
        max-width: 80%;
    }

    .responsive-container img {
        max-width: 100%;
    }
}

/* 414px (like iPhone 6/7/8 Plus) */
@media only screen and (max-width: 414px) {
    .responsive-button {
        max-width: 100%;
        padding: 0.5rem;
    }

    .responsive-container {
        max-width: 80%;
    }

    .responsive-container img {
        max-width: 100%;
    }
}

/* 768px (big phones like iPhone 11 Pro Max, Samsung Galaxy S10) */
@media only screen and (max-width: 768px) {
    .responsive-button {
        max-width: 100%;
        padding: 0.5rem;
    }

    .responsive-container {
        max-width: 80%;
    }

    .responsive-container img {
        max-width: 100%;
    }
}